@import "extra";
* {
  margin: 0; 
  padding: 0;    
}      
body{
	font-family: 'Raleway', sans-serif;   
}
header {
	height: 450px;
	background-color: $dark-bg;
	color: $text-color;
	button.menu{
		width: 55px;
		height: 33px; 
		display: none;
		border: none;  
		margin: {
			top: 30px;
			left: 52px; 
		}
		background-color: transparent;
		background-image: url(../img/btn-menu.png);
		&:hover{
			cursor: pointer;
		}
		@media screen and (max-width: 1200px) {
		    display: inline-block;
		}
	}   
}
nav {
	height: 90px;
	display: flex; 
  	justify-content: space-between;
  	position: relative;
  	ul { 
	  list-style: none;
	  display: flex;
	  margin: 0 auto;
	  height: 100%;
	  @media screen and (max-width: 1200px) {
		flex-direction: column;
		width: 300px;
		height: 450px;
		margin: 0;
		background: #ccc;
		position: relative;
		z-index: 5;
	  }
	  li {
	  	height: 100%;
	  	padding: 0 44px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: 1200px) {
			margin: 25px;
	 	}
	  	a {
		  font-size: 18px;
		  text-transform: capitalize;
		  text-decoration: none;
		  color: $text-color;
		  display: flex;
		  align-items: center;
		  height: 100%;
		  &:hover {
		     color: $border-color;
		  }
		  @media screen and (max-width: 1200px) {
		  	color: $dark-bg;
		  }
		}
	  }
	}	
	.hide-menu{
		display: none;
		z-index: 10;
		color: $dark-bg;
		&:hover{
			cursor: pointer;
		}
	}
	@media screen and (max-width: 1200px) {
		display: none;
		.hide-menu{
			display: block;
			margin: 0;
			position: absolute;
			top: 10px;
			left: 280px;
		}	
	}
}

.name {
	width: 350px;
	margin: 50px auto;
	p {
		display: flex;
		justify-content: center;
		padding: {
			top: $text-padding;
			bottom: $text-padding;
		}
	}
	h1{
		@extend p;
		font: {
			weight: 400;
			size: 44px;
		}
		border: {
	      top: 2px solid $border-color;
	      bottom: 2px solid $border-color;
	    }
	}
	button {
		width: 170px;
		height: 50px;	
		font-size: $basic-font;
		margin: 15px auto;
		@extend p;
		@include colored-button();
		&:hover {
			cursor: pointer;
			opacity: 0.8;
		}
	}
}  
section#about {
	@include basic-section();
	background: #f9f9f9;
	color: $text-grey;
	.about-container{
		max-width: 1090px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;	
		div.photo, div.text {
			width: 380px;	
			margin-right: 280px;
			margin-left: 5px;
			@media screen and (max-width: 1200px) {
				margin-right: 260px
			}
			@media screen and (max-width: 1100px) {
				margin: {
					left: 10px;
					right: 10px;
				}
			}
		}	
		div.photo {
			height: 407px;
			background: url(../img/photo.jpg) no-repeat;
			margin: 10px;
		}
		ul {
			width: 368px;
			height: 245px;	
			background: #fff;
			list-style: none;
			padding: 5px;
			margin-top: 20px;
			li {
				height: 50px;
				line-height: 50px;
				border-bottom: 1px solid #e5e5e5;
				span {
					font-weight: bold;
				}
			}
		} 
	}
	h2 {
		@media screen and (max-width: 960px) {
			margin-left: 85px;
		}
	}
}  

#experience, #education, #skills, #portfolio, #contacts {
	@include basic-section();
	h2 {
		margin-left: 65px; 
		@media screen and (max-width: 1200px) {
			margin-left: 50px;			
		}
		@media screen and (max-width: 960px) {
			margin: 0 auto;
		}
	}
} 
.container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 1200px;
	margin: 0 auto;
}

.workplace, .education {
	margin: 50px auto;
	color: $text-color;
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	.left-block {
		width: 452px;
		height: 126px;
		padding: 10px;
		margin: {
			top: 55px;
			right: 62px;
		};
		border-radius: 8px;			
		position: relative;	
		background-color: $dark-bg;  
		p {
			padding: 5px;
		}
		@media screen and (max-width: 1200px) {
			margin-right: 56px;
		}
		@media screen and (max-width: 1110px) {
			margin: {
				top: -5px;
				right: 55px;
			}
		} 
		@media screen and (max-width: 768px) {
			margin: 10px;
		}
		&:after{
			content: "";
			display: block;
			border: 10px solid transparent;
			border-left: 30px solid $dark-bg;
			position: absolute;
			top: 100px;
			right: -40px;			
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
	}	
	.right-block {
		width: 452px;
		height: 126px;
		background-color: $dark-bg;  	
		border-radius: 8px;	
		padding: 10px;
		margin: {
			top: -55px;
			left: 63px;
		};
		position: relative;
		p {
			padding: 5px;
		}
		@media screen and (max-width: 1200px) {
			margin-left: 55px;
		}
		@media screen and (max-width: 1110px) {
			margin: {
				top: -85px;
				right: 187px;
			} 
		} 
		@media screen and (max-width: 768px) {
			margin: 10px;
		}
		&:after{
			content: "";
			display: block;
			border: 10px solid transparent;
			border-right: 30px solid $dark-bg;
			position: absolute;
			top: 25px;
			left: -40px;
			@media screen and (max-width: 1110px) {
				border-right: none;
				border-left: 30px solid $dark-bg;
				position: absolute;
				top: 100px;
				left: 472px;
			} 
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
	}   
	.line { 
		width: 1px;
		height: 150px;
		background-color: #000;
		position: relative;
		@media screen and (max-width: 1110px) {
			margin: {
				top: 130px;
				right: 70px;
			}
		}
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	.circle {
		width: 38px;
		height: 38px;
		border: 2px solid #000;
		border-radius: 50%;
		background-color: #fff;
		position: absolute;
		span {
			display: block;
			width: 14px;
			height: 14px;
			margin: 10px auto;
			border: 2px solid #000;
			border-radius: 50%;
			background: $border-color;
		}
	}		
	.circle.up {
		top: -40px;
		left: -20px;
	}
	.circle.down {
		top: 150px;
		left: -20px;
	}
	.date {
		color: $border-color;
	}
}
section#education {
	.left-block {
		margin-top: 55px;
		@media screen and (max-width: 1110px) {
			margin-top: 2px;
		} 
		@media screen and (max-width: 768px) {
			margin: 10px;
		}
	}
	.right-block {
		margin-top: -57px;
		@media screen and (max-width: 1110px) {
			margin-top: -440px;
		} 
		@media screen and (max-width: 768px) {
			margin: 10px;
		}
	}	
	.second.left-block {
		margin-top: -90px;		
		@media screen and (max-width: 1110px) {
			margin: {
				top: -250px;
				left: -70px;
			} 
		}
		@media screen and (max-width: 768px) {
			margin: 10px;
		}
	}
	.second.right-block {
		margin: {
			top: -175px;
			left: 60px;
		} 
		@media screen and (max-width: 1110px) {
			margin-top: -85px;	
		} 
		@media screen and (max-width: 768px) {
			margin: 10px;
		}
	}
	.line{
		height: 500px;
		.circle.down2 {
			top: 340px;
			left: -20px;
		}
		.circle.down3 {
			top: 500px;
			left: -20px;
		}
	}
}
hr {
	width: 58vw;
	margin: 0 auto;
	opacity: 0.5;
}
section#skills {
	background: $bg-color;
	h2 {
		color: $text-color;
	}
	div.items {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 1200px) {
			justify-content: space-around;
			flex-wrap: wrap;
		}		
	}
	ul:not(:last-child){
		margin-right: 3.2vw;
	}
	ul {
		list-style: none;
		width: 300px;
		color: $text-color; 
		margin: {
			left: 64px;
			top: 15px;
		}
		li {
			margin-bottom: $text-padding;
		}
		@media screen and (max-width: 1700px) {
			margin-left: 50px;
		}
		.percent-skill.html {
			@include progress-bar(224px, 224px, 40px, -226px, 12px);
		} 
		.percent-skill.js {
			@include progress-bar(143px, 143px, 121px, -145px, 12px);
		}
		.percent-skill.sass{
			@include progress-bar(187px, 187px, 76px, -189px, 12px);
		}
		.percent-skill.bootstrap{
			@include progress-bar(161px, 161px, 103px, -163px, 12px);
		}
		.percent-skill.photoshop{
			@include progress-bar(137px, 137px, 127px, -139px, 12px);
		}
		.percent-skill.mysql{
			@include progress-bar(146px, 146px,118px, -148px, 12px);
		}
		.percent-skill.php{
			@include progress-bar(113px, 113px, 151px, -115px, 12px);
		} 
		.percent-skill.git{
			@include progress-bar(143px, 143px, 121px, -145px, 12px);
		}
		.percent-skill.cms{
			@include progress-bar(150px, 150px, 114px, -152px, 12px);
		}
		.percent-skill.testing{
			@include progress-bar(229px, 229px, 35px, -231px, 12px);
		}
		.percent-skill.bag-trak{
			@include progress-bar(248px, 248px,16px, -250px, 12px);
		}
		.percent-skill.documentation{
			@include progress-bar(224px, 224px, 40px, -226px, 12px);
		}
		.percent-skill.type-testing{
			@include progress-bar(224px, 224px, 40px, -226px, 12px);
		} 
	}
} 

section#portfolio {
	.projects {
		margin: 0 auto;
		padding-left: 25px;
		display: flex;
		justify-content: center;
		@media screen and (max-width: 1200px) {
			padding-left: 35px;
			flex-wrap: wrap;
		}
		@media screen and (max-width: 480px) {
			padding-left: 0;
			flex-wrap: wrap;
		}
	}
	a {
		display: block;
		width: 200px;
		height: 200px;
		overflow: hidden;
		margin: 12px;
	}
	a img {
		border: 1px solid #eee;
		transition: 0.5s;
		&:hover{
			z-index: 100;
			-webkit-transform: scale(1.3);
		     -moz-transform: scale(1.3);
		       -o-transform: scale(1.3);
		          transform: scale(1.3);	  
		}
	}
}
#contacts .contact-data  {
	display: flex;
	justify-content: space-around;	
	flex-wrap: wrap;
	margin: 0 auto;
	padding-left: 22px;
	color: $h2-color;
	form {
		width: 550px;
		display: flex;
		position: relative;
		margin-right: 160px;
		@media screen and (max-width: 1200px) {
			margin-right: 138px;
		}
		@media screen and (max-width: 1100px) {
			width: 264px;
			margin-right: 210px;
			display: block;
		}
		@media screen and (max-width: 960px) {
			margin-right: 70px;
		}
		@media screen and (max-width: 768px) {
			margin-right: 20px;
		}
	}
	input {
		width: 265px;
		height: 35px;
		margin: {
			bottom: 20px;
			right: 20px;
		}
	}
	textarea {
		width: 265px;
		height: 155px;
		margin-bottom: 54px;
	}
	input[type="submit"]{
		@include colored-button($text-color, $border-color, 0);
		width: 94px;
		height: 34px;
		position: absolute;
		bottom: 0;
		right: -25px;
		&:hover {
			cursor: pointer;
			opacity: 0.8;
		}
	}
	::-webkit-input-placeholder {color:#3e3e3e; padding: 10px; font-style: italic}
	::-moz-placeholder          {color:#3e3e3e; padding: 10px; font-style: italic}/* Firefox 19+ */
	:-ms-input-placeholder      {color:#3e3e3e; padding: 10px; font-style: italic}
	
	.data-container{
		width: 380px;
		h3 {
			font-size: 22px;
			text-transform: capitalize;
			margin-bottom: 10px;
		}
		.data-person {
			display: flex;
			margin-bottom: 20px;
			align-items: center;
		}
		.data-icon {
		  width: 37px;	  
		  height: 33px;
		  margin-right: 40px;
		  background-image: url(../img/sprite.png);
		  	@media screen and (max-width: 768px) {
				margin: {
					top: -15px;
					right: 15px;
					left: 25px;
				} 
			}
		}
		[data-icon="home"] {
		  background-position: -1px 0;
		}
		[data-icon="mail"] {
		  background-position: -37px 0;
		}
		[data-icon="phone"] {
		  background-position: 37px 0;
		}
	}
	@media screen and (max-width: 1700px) {
		padding-left: 12px;
	}
}

footer {
	height: 50px;
	color: #fff;
	background: $dark-bg;
	padding-top: 15px;
	.copyright{
		text-align: center;
		text-transform: capitalize;
	}
	.social_buttons{
		height: 32px;
		width: 170px;
		margin: 10px auto;	
		.twitter,.facebook,.linkedin,.skype { 
			display: inline-block;
			width: 25px;
			height: 100%;
			text-align: center;
			color: #eee;
			font-size: 20px;
			&:hover{
				color: $border-color;
				cursor: pointer;
			}
		}
	}
}
